page-user-form {
    .form-custom{
        box-sizing: border-box;
        margin-top:5px;
        margin-right: auto;
        margin-left: auto;
        padding:3px 3px;
        width: 98%;
        .card-mod{
            box-shadow: none;
            margin-left:auto;
            margin-right: auto;
            width: 100%;
            padding:2px 10px;
            .list-ios > .item-block:first-child,.list-ios > .item-block:last-child {
                border-top:none;
            }
            .avartar{
                margin-top:0;
                margin-bottom:10px;
                display: block;
                position: relative;
                width: 100%;
                padding-left:5px;
                line-height: 0.5;
                color: whitesmoke;
                .add-image{
                    position: absolute;
                    z-index: 100;
                    bottom:-5px;
                    left: 50%;
                }
                img{
                    margin-left: auto;
                    margin-right:auto;
                    background-color: rgba(255, 255, 255, 0.1);
                    border-radius: 50%;
                    box-sizing: border-box;
                    padding: 2px;
                    border:2px dashed rgba(255, 255, 255, 0.5);
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    background-position: center;
                    box-shadow: 0 0.5px 2.5px black;
                }
            }
            .list-item{
                padding:0;
                ion-item{
                    padding: 0;
                    margin:0;
                    width: 100%;
                    border:none;
                    .item-inner{
                        padding:0;
                    }                
                    ion-input{
                        box-sizing: border-box;
                        display: block;
                        text-align: start;
                        width: 100%;
                        padding: 0rem .50rem;
                        font-size: 1.3rem;
                        font-weight: 400;
                        color: #495057;
                        background-color: #fff;
                        background-clip: padding-box;
                        border: 1px solid #ced4da;
                        border-radius: .25rem;
                        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                        overflow: visible;
                        &:focus,&:active{
                            box-shadow: 0 1px 2px #007bff !important;
                            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                        } 
                    }
                }
                small{
                    width: 100%;
                    text-align: center;
                }
                .btn-signup{
                    margin-top: 10px;
                }
            }
        }
    }
}
